*{
    margin: 0;
    padding: 0;
}
.linkedProducts h3{
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.quickAdd{
    background-color: black;
    color: white;
    width: 100%;
    border: 0px;
    padding: 15px;
    text-transform: uppercase;
    cursor: pointer;
}
.quickAddHover{
    background-color: black;
    color: white;
    width: 100%;
    border: 0px;
    padding: 15px;
    text-transform: uppercase;
    cursor: pointer;
}
.disabled{
    opacity: 50%;
    cursor: not-allowed;
    pointer-events: none;
}
.cartSlider__card .notInStock{
   /*  background-color: red; */
    pointer-events: none;
    background: 
    linear-gradient(to top left,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 0.8px),
        rgba(0,0,0,1) 50%,
        rgba(0,0,0,0) calc(50% + 0.8px),
        rgba(0,0,0,0) 100%);
}
.cartSlider__card .displayNone{
    display: none;
}
.cartSlider__card .active{
    border: 1px solid black;
}
.cartSlider{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    overflow: scroll;
}
.cartSlider__card{
    width: 263px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.cartSlider__card__meta{
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 150px;
    flex-grow: 1;
}
.cartSlider__card__meta__cta{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-grow: 1;
}
.cartSlider__card__details{
    margin-bottom: 40px;
}
.cartSlider__card__meta__title{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.cartSlider__card__meta__title p:last-child{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin-left: 0;
}

.card__hover__meta{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.card__hover__meta p:last-child{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin-left: 0;
}


.cartSlider__card__hover{
    background-color: #FCFCFC;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
}
.cartSlider__card__image{
    width: 263px;
    height: 250px;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}
.cartSlider__card__image img{
    width: 100%;
    object-fit: contain;
}
.card__hover__size p:first-child{
    margin-bottom: 10px;
    font-size: 12px;
}
.card__hover__size__sizeCards{
    display: flex;
    flex-direction: row;
    gap: 5px;
    max-width: 100%;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.card__hover__size__sizeCards div{
    width: 40px;
    height: 40px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    box-sizing: border-box;
    cursor: pointer;
}
.card__hover__size__sizeCards .active{
    border: 1px solid black;
}
.card__hover__colour{
    margin-bottom: 10px;
}
.card__hover__colour p:first-child{
    margin-bottom: 10px;
    font-size: 12px;
}
.card__hover__colour__colours{
    display: flex;
    flex-direction: row;
    gap: 5px;
    max-width: 100%;
    flex-wrap: wrap;
}
.card__hover__colour__colours div{
    height: 50px;
    width: 50px;
    display: flex;
    background-color: white;
    cursor: pointer;
}
.card__hover__colour__colours img{
    width: 100%;
    object-fit: contain;
}

.card__hover__button {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
}